<h1 class="pb-4">About Our Recipe Blog</h1>

<div class="row">
  <div class="col-lg-6">
    <p>Welcome to <strong>RECIPE BLOG</strong>, your number one source for all things delicious. We're dedicated to providing you the very best of recipes, with an emphasis on simplicity, taste, and nutrition.</p>
    <p>Founded in 2026 by Vansh, this blog has come a long way from its beginnings. When Vansh first started out, his passion for "Cooking made easy" drove him to start his own project.</p>
  </div>
  <div class="col-lg-6">
    
  </div>
</div>